<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/libs/angular.min.js"></script>
    <script src="~/Scripts/app/browserModule.js"></script>
    <script src="~/Scripts/app/browserService.js"></script>
    <script src="~/Scripts/app/browserController.js"></script>

    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/Site.css" rel="stylesheet" />
</head>
<body ng-app="browserModule">
    <div>
        @RenderBody()
    </div>
</body>
</html>
