
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div ng-controller="browserController" class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Less 10Mb</th>
                <th>10Mb - 50Mb</th>
                <th>More 100Mb</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{smallObjects}}</td>
                <td>{{mediumObjects}}</td>
                <td>{{largeObjects}}</td>
            </tr>
        </tbody>
    </table>
    <label>
        <b>Current Path: </b>{{currentPath}}
    </label>
    <ul class="list-unstyled">
        <li><a href="#" class="text-info text-capitalize">..</a></li>
        <li ng-repeat="item in browserItems"><a href="#" class="text-info text-capitalize">{{item}}</a></li>
    </ul>
</div>

