
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div ng-controller="browserController" class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Less 10Mb</th>
                <th>10Mb - 50Mb</th>
                <th>More 100Mb</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{smallFiles}}</td>
                <td>{{mediumFiles}}</td>
                <td>{{largeFiles}}</td>
            </tr>
        </tbody>
    </table>
    <label id="error" ng-hide="errorMessage === ''">{{errorMessage}}</label>
    <label>
        <b>Current Path: </b>{{currentPath}}
    </label>
    <ul class="list-unstyled">
        <li ng-hide="currentPath === ''"><a href="#" class="text-info text-capitalize" ng-click="getData(currentPath, '..')">..</a></li>
        <li ng-repeat="item in browserItems"><a href="#" class="text-info text-capitalize" ng-click="getData(currentPath, item)">{{item}}</a></li>
    </ul>
</div>

