
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div ng-controller="browserController" class="container">
    <table class="table" ng-cloak>
        <thead>
            <tr>
                <th>Less 10Mb</th>
                <th>10Mb - 50Mb</th>
                <th>More 100Mb</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span ng-if="smallFiles">{{smallFiles}}</span>
                    <span ng-if="!smallFiles">~</span>
                </td>
                <td>
                    <span ng-if="mediumFiles">{{mediumFiles}}</span>
                    <span ng-if="!mediumFiles">~</span>
                </td>
                <td>
                    <span ng-if="largeFiles">{{largeFiles}}</span>
                    <span ng-if="!largeFiles">~</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="sk-circle" ng-show="isLoading">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
    <label id="error" ng-hide="itemsErrorMessage === ''" ng-cloak>{{itemsErrorMessage}}</label>
    <label id="error" ng-hide="fileSizeErrorMessage === ''" ng-cloak>{{fileSizeErrorMessage}}</label>
    <label ng-cloak>
        <b>Current Path: </b><span id="path">{{currentPath}}</span>
    </label>
    <div class="panel">
        <ul class="list-unstyled" ng-cloak ng-hide="isLoading">
            <li ng-hide="currentPath === ''"><a class="text-capitalize" ng-click="getData(currentPath, '..')">..</a></li>
            <li ng-repeat="item in browserItems"><a class="text-capitalize" ng-click="getData(currentPath, item)">{{item}}</a></li>
        </ul>
    </div>
</div>

